@charset "UTF-8";

/* El body de todos los index */
html, body {
	width: 100%;
	overflow: hidden; /* Desactiva el desplazamiento */
	height: 100%;
	/* Asegura que el contenido se ajuste al tamaño de la ventana */
}

@media ( max-width : 995px) {
	html, body {
		overflow-y: auto; /* Activa el scroll */
		overflow-x: hidden;
	}
}

body {
	background-color: #01012f;
}
/* Líneas diagonales blancas de fondo */
body::before, body::after {
	content: "";
	position: absolute;
	top: -100px;
	bottom: -100px;
	width: 75px; /* Mitad del grosor original */
	background-color: #ffffff;
	transform: rotate(25deg);
	border-radius: 10px;
	z-index: -1; /* Las líneas estarán detrás del contenido */
}

body::before {
	left: 70%; /* Ajuste de la posición hacia la derecha */
}

body::after {
	left: 90%; /* Ajuste de la posición hacia la derecha */
}

/* INDEX.HTML */
/* Parte del navegador*/
button {
	border-radius: 10px;
}

.registroUsuario {
	margin-right: 20px;
	z-index: 2;
}

svg path {
	fill: white;
	stroke: #01012f; /* Color del borde */
	stroke-width: 2;
	z-index: 2;
}

svg {
	transition: box-shadow .5s ease;
}

svg:hover {
	box-shadow: 1px 1px 10px white, -1px -1px 10px white;
}

.svg:not(:hover) {
	box-shadow: 0px 0px 0px white;
}

.navegador svg {
	border: 3px solid #01012f;
	border-radius: 50%;
	padding: 5px;
	background-color: white;
	box-sizing: border-box;
	/* Asegura que el padding no afecte al tamaño total */
	z-index: 2;
}

.navegador {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
}

.botonAdmin {
	padding: 10px;
	font-size: large;
	margin-left: 20px;
	transition: box-shadow .5s ease;
}

.botonAdmin:hover {
	box-shadow: 1px 1px 10px white, -1px -1px 10px white;
}

.botonAdmin:not(:hover) {
	box-shadow: 0px 0px 0px white;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* PARTE DE LA PAGINA DE ADMINISTRADORES */
/* Parte navegador */
.navegador2 {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center; /* Centra el contenido horizontalmente */
	color: white;
	margin: 0px 2% 20px;
	position: relative; /* Necesario para posicionar el ícono */
}

.navegador2 h1 {
	flex-grow: 1; /* Hace que el h1 ocupe todo el espacio disponible */
	text-align: center;
	margin: 0;
}

.navegador2 a {
	position: absolute;
	left: 0; /* Mueve el ícono al borde derecho */
}

.navegador2 svg {
	border: 3px solid #01012f;
	border-radius: 50%;
	padding: 5px;
	background-color: white;
	box-sizing: border-box;
	/* Asegura que el padding no afecte al tamaño total */
	z-index: 2;
}

/* Parte main */
.container {
	height: 700px;
}

.zonaB {
	background-color: #384358;
	text-align: center;
	color: white;
	margin: 20px 5% 20px;
	border: 1px solid white;
	border-radius: 10px;
	height: 100%;
}

/* Parte USUARIO */
.contenedorUsuarios {
	background-color: white;
	border: 3px solid #7a4b31;
	border-radius: 10px;
	overflow-y: scroll;
	height: 80%;
}

.contenidoUsuarios {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin: 10px;
	background-color: #384358;
	border-radius: 10px;
	height: 12%;
}

.eliminarUsu {
	background-color: #5a1b1f;
	color: #ffffff;
	height: 70%;
}

.modificarUsu {
	background-color: #5a1b1f;
	color: white;
	height: 70%;
}

p {
	margin: 10px;
	text-align: center;
	align-items: center;
	font-weight: bold;
}

.aniadirUsuario {
	font-size: large;
	font-weight: bold;
	width: 100%;
	height: 40px;
	margin: 10px 0px;
	height: 9%;
}

/* Parte CLUB */
.aniadirClub {
	font-size: large;
	font-weight: bold;
	width: 100%;
	height: 40px;
	margin: 10px 0px;
	height: 9%;
}

.eliminaClub {
	background-color: #5a1b1f;
	color: #ffffff;
	height: 70%;
}

.modificaClub {
	background-color: #5a1b1f;
	color: white;
	height: 70%;
}

.contenedorClub {
	background-color: white;
	border: 3px solid #7a4b31;
	border-radius: 10px;
	overflow-y: scroll;
	height: 80%;
}

.contenidoClub {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin: 10px;
	background-color: #384358;
	border-radius: 10px;
	height: 12%;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* PARTE DE LA PAGINA DEl LOGIN */

/* Parte del main */
.container2 {
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.zonaLogin {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 700px;
	width: 90%;
}

.nombreLogin {
	height: 25%;
	font-weight: bold;
	font-size: 80px;
	margin: 5%;
	align-items: center;
	display: flex;
	justify-content: center;
}

.divCorreo {
	height: 80px;
	margin: 0px 0px 10%;
}

.correo {
	margin: 0px 0px 10%;
	border-radius: 50px;
	height: 100%;
	width: 90%;
	padding-left: 30px;
}

.correo::placeholder {
	color: black;
	font-size: 20px;
}

.divContra {
	height: 80px;
}

.contrasenia {
	margin: 0px 0px 10%;
	border-radius: 50px;
	height: 100%;
	width: 90%;
	color: black;
	padding-left: 30px;
}

.contrasenia::placeholder {
	color: black;
	font-size: 20px;
}

.divCheckbox {
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 10px 10% 10%;
}

.labelRecuerdame {
	font-size: 20px;
}

.recuerdame {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
}

.divBoton {
	height: 80px;
}

.botonParaAcceder {
	margin: 0px 0 10%;
	border-radius: 50px;
	height: 100%;
	width: 60%;
	font-size: 25px;
}

.contenidoLogin {
	display: flex;
	height: 75%;
	flex: 1;
	flex-wrap: wrap;
	flex-direction: column;
}

.zonaLoginForm {
	flex: 1;
	background-color: #384358;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	height: 100%;
	margin: 10px 10% 10px 10%;
}

.formulario {
	height: 100%;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.zonaLoginImagenes {
	margin: 10px 5% 10px 0px;
}

.imagen1 {
	height: 300px;
	width: 350px;
	transform: translate(-20px, 0px);
	border-radius: 20px;
	box-shadow: 1px 1px 10px rgb(21, 138, 216), -1px -1px 20px
		rgb(21, 138, 216);
}

.imagen2 {
	position: relative;
	height: 300px;
	width: 350px;
	transform: translate(140px, -60px);
	border-radius: 20px;
	box-shadow: 1px 0px 10px rgb(21, 138, 216) inset, -1px 0px 20px
		rgb(21, 138, 216);
}